:root[data-theme="dark"]{
    --black: #242424;
    --dark-gray: #383838;
    --gray: #474646;
    --light-gray: #c6c6c6;
    --White: #ffffff;

    --sidebar-container-color: var(--black);
    --sidebar-text-color: var(--light-gray);
    --sidebar-hover-color: var(--gray);
    
    --container-background-color: var(--dark-gray); 
    --container-text-color: var(--light-gray);
    --container-chat-hover-color: var(--black);

    --round-container-background-color: var(--gray);

    --sun-icon-show: block!important;
    --moon-icon-show: none!important;
}
:root[data-theme="light"]{
    --black: #242424;
    --dark-gray: #383838;
    --gray: #cacaca;
    --light-gray: #eaeaea;
    --White: #ffffff;
    --sidebar-container-color: var(--light-gray);
    --sidebar-text-color: var(--dark-gray);
    --sidebar-hover-color: var(--gray);
    
    --container-background-color: var(--White); 
    --container-text-color: var(--dark-gray);
    --container-chat-hover-color: var(--gray);
    --round-container-background-color: var(--White);
    --round-container-shadow: -3px 3px 10px var(--container-chat-hover-color);

    --sun-icon-show: none!important;
    --moon-icon-show: block!important;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--container-background-color);
    color: var(--container-text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color .5s;
}
.link-item {
    display: inline-flex;
    padding: 0.2rem .3rem;
    overflow: hidden;
}
a{
    color: inherit;
    text-decoration: none;
    align-items: center;
    border-radius: .8rem;
    text-wrap: nowrap;
}
.sidebar a:hover{
    background-color: var(--sidebar-hover-color);
}
.img-logo{
    width: 1.5rem;
    height: 1.5rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
input{
    width: 100%;
    padding: 1rem;
    background-color: inherit;
    border: none;
    font-size: inherit;
    color: inherit;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}
input:focus{
    outline: none;
}
input::placeholder{
    color: inherit;
}
h5{
    margin-top: 1.3rem;
    margin-left: 1.5rem;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sidebar{
    display: flex;
    width: 250px;
    background-color: var(--sidebar-container-color);
    color: var(--sidebar-text-color);
    flex-direction: column;
    transition: background-color .5s, width .5s;
    overflow: hidden;

}
.closed{
    width: 0px;
    height: 0px;
    overflow: hidden;
}
.sidebar-header{
    display: flex;
    width: 80%;
    margin: .3rem 1.2rem;
    
}
.sidebar-header a:nth-child(2){
    margin-left: auto;
}
.sidebar-header a, .navbar a{
    padding: .5rem;
}
.sidebar-body{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--sidebar-hover-color) var(--sidebar-container-color);
}
.sidebar-body a{
    display: block;
    width: 85%;
    margin: .3rem auto;
}
.sidebar-body a.link-item{
    display: flex;
}
.sidebar-bottom{
    height: 5rem;
    overflow: hidden;
    display: block;
    margin: 0 1.2rem;
    align-content: center;
}
.sidebar-bottom a, .overflow-elipsis{
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.navbar{
    grid-area: navbar;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: .3rem 1.2rem;
}
.logo, .user{
    display: flex;
    align-items: center;
}
.container-chat{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    grid-template-areas:
    "navbar navbar navbar"
    "texto texto texto"
    "contenedor contenedor contenedor"
    "botones botones botones"
    "footer footer footer";
}
.data-container{
    grid-area: texto;
    align-content: end;
    justify-self: center;
    padding-bottom: 1rem;
}
.round-container{
    width: 70%;
    max-width: 700px;
    grid-area: contenedor;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: var(--round-container-background-color);
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--round-container-shadow);
    margin-bottom: 20px;
    height: auto;
    
}
.container-buttons{
    display: flex;
    width: 95%;
    height: auto;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: .5rem;
    gap: 1rem;
    height: inherit;
}
.container-buttons a{
    border: 1px solid var(--container-text-color);
    border-radius: 3rem;
}
.container-buttons button{
    margin-left: auto;
    color: var(--container-background-color);
    background-color: var(--container-text-color);
    border: none;
    border-radius: 3em;
}
.container-buttons button:hover{
    background-color: var(--sidebar-hover-color);
    color: inherit;
}
.buttons{
    display: flex;
    padding-top: .5rem;
    grid-area: botones;
    justify-self: center;
    align-items: flex-start;
    margin-bottom: auto;
    gap: 1rem;
    height: 100%;
    transition: height 1s;

}
.buttons a{
    border: 1px solid var(--container-text-color);
    padding: .3rem .5rem;
    gap: .5rem;
    border-radius: 3rem;
}
.container-chat a:hover{
    background-color: var(--container-chat-hover-color);
}
footer{
    grid-area: footer;
    align-content: end;
    justify-self: center;
    padding-bottom: .5rem;
}
.light{
    display: none!important;
}
.dark{
    display: none!;
}
.btn-theme{
    background-color: inherit;
    color: inherit;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    
}
.btn-theme:hover{
    background-color: var(--sidebar-container-color);
}
.asks-hints{
    grid-area: botones;
    width: 70%;
    height: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem;
    transition: height 1s;

}
.asks-hints a{
    padding: .5rem 1rem ;
    border-radius: 5px;
}
.answers{
    width: 100%;
    max-width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow-y: scroll;
    gap: .5rem;
    scrollbar-color: var(--sidebar-hover-color) var(--container-background-color);
    
}
.p_question{
    max-width: 70%;
    margin-right: 2rem;
    
    background-color: var(--sidebar-container-color);
    border-radius: 1rem;

    align-self: flex-end;
    padding: .5rem 1rem;
}

.p_answer{
    max-width: 70%;
    margin-left: 2rem;

    align-self: flex-start;
    padding: .5rem 1rem;
}